<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_tag "/yonetim/blog/update/#{@article.id}", method: :post, class: '' do %>
<div class="form-group">
    <label for="title">Title</label>
    <%= text_field_tag :title, @article.title, class: "form-control" %>
</div>
<div class="form-group">
    <label for="slug">Slug</label>
    <%= text_field_tag :slug, @article.slug, class: "form-control" %>
</div>
<div class="form-group">
    <label for="brief">Brief</label>
    <%= text_area_tag :brief, @article.brief_md, class: "form-control", rows: 4 %>
</div>
<div class="form-group">
    <label for="contents">Contents</label>
    <%= text_area_tag :contents, @article.content_md, class: "form-control", rows: 7 %>
</div>
<div class="form-group">
  <label for="is_published">
    <%= check_box_tag :is_published, '1', @article.is_published? %> Is published?
  </label>
</div>
<div class="form-group">
  <label for="is_sponsored">
    <%= check_box_tag :is_sponsored, '1', @article.is_sponsored? %> Is sponsored?
  </label>
</div>
<div class="form-group">
    <button class="btn btn-primary">Save</button>
    <input type="submit" class="btn btn-default" name="continue" value="Save And Continue Editing" />
    <a href="/yonetim/blog" class="btn btn-default">Cancel</a>
</div>
<% end %>

