<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
      <tr>
        <%= sortable_header 'id', 'id' %>
        <th>Username</th>
        <%= sortable_header 'E-mail', 'email' %>
        <%= sortable_header 'Registration Date', 'created_at' %>
        <%= sortable_header 'Schemata count', 'schemas_count' %>
        <th>OAuth Profiles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= user.username %>
          <% if user.invited? %>
            <span class="label label-default">Invited</span>
          <% end %>
          <% if user.deleted? %>
              <span class="label label-danger">Deleted</span>
          <% end %>
        </td>
        <td><%= check_search_term(user.email, @email) %> <% if user.newsletter_subscription %><span class="label label-default">Newsletter</span> <% end %></td>
        <td><%= l(user.created_at, format: :full) %></td>
        <td><%= user.own_schemas.count %></td>
        <td><%= user.oauth_profiles.count %></td>
        <td><%= link_to 'View User', "/yonetim/user/#{user.id}", class: 'btn btn-default btn-xs' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
