<p><%= flash[:alert] %></p>
<%= form_for @user do |f| %>
	<div class="field">
		<label for="username">Username</label>
		<%= f.text_field :username %>
	</div>
	<div class="field">
		<label for="email">E-mail</label>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<label for="password">Password</label>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<label for="password_confirmation">Password again</label>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.submit 'Register' %>
	</div>
<% end %>