<td>{{{ key_field }}}</td>
<td>{{ name }}</td>
<td>{{ type }} {{ default }}</td>
<td class=rightmost>
    <img src="{{ edit_image }}" alt="" class="edit-field" />
    <img src="{{ updown_image }}" alt="" class="mover" />
</td>
