<div class="insert-panel">
    <span class="dummy dummy-down" tabindex="0"></span>

    <label for="field-name" data-lang-text="designer.field_name">{{t 'designer.field_name'}}</label>
    <input type="text" name="field-name" class="field-name" />
    <br>
    <label for="field-type" data-lang-text="designer.field_type">{{t 'designer.field_type'}}</label>
    <select class="field-type" name="field-type">
    {{#datatypes}}
      <option value="{{name}}">{{name}}</option>
    {{/datatypes}}
    </select>
    <br>
    <label for="field-size" data-lang-text="designer.field_size">{{t 'designer.field_size'}}</label>
    <input type="text" name="field-size" class="field-size">
    <br>
    <label for="" data-lang-text="designer.field_default">{{t 'designer.field_default'}}</label>
    <input type="text" name="field-default" class="field-default">
    <br>
    <label class="cb-label">
      <input type="checkbox" name="field-pk" class="checkbox field-pk"><span data-lang-text="designer.field_primary_key">{{t 'designer.field_primary_key'}}</span>
    </label>
    <br>
    <label class="cb-label">
      <input type="checkbox" name="field-null" class="checkbox field-null"><span data-lang-text="designer.field_allow_nulls">{{t 'designer.field_allow_nulls'}}</span>
    </label>
    <br>
    <label class="cb-label">
      <input type="checkbox" name="field-unique" class="checkbox field-unique"><span data-lang-text="designer.field_unique">{{t 'designer.field_unique'}}</span>
    </label>
    <br>
    <label class="cb-label">
      <input type="checkbox" name="field-ai" class="checkbox field-ai"><span data-lang-text="designer.field_autoincrement">{{t 'designer.field_autoincrement'}}</span>
    </label>
    <br>
    <label class="cb-label">
      <input type="checkbox" name="field-fk" class="checkbox field-fk"><span data-lang-text="designer.field_foreign_key">{{t 'designer.field_foreign_key'}}</span>
    </label>
    <br>
    <div class="refs"></div>
    <br>
    <input type="button" data-lang-value="designer.field_save" value="{{t 'designer.field_save'}}" class="btn save-button" />
    <span class="cancel-insert action" data-lang-text="designer.field_cancel" tabindex="0">{{t 'designer.field_cancel'}}</span>
    <span class="dummy dummy-up" tabindex="0"></span>
</div>