<div class="panel-header">
	<i class="icon-down-open"></i>
	<span class="panel-caption" data-lang-text="panel.properties">{{t 'panel.properties'}}</span>
</div>
<div class="panel-body">
	<table class="property-table">
		<tr>
			<td class="property-label">
				<span data-lang-text="panel.properties_schema_name">{{t 'panel.properties_schema_name'}}</span>
			</td>
			<td>
				<span class="schema-title">{{ schema_title }}</span>
			</td>
		</tr>
		<tr>
			<td class="property-label">
				<span data-lang-text="panel.properties_database">{{t 'panel.properties_database'}}</span>
			</td>
			<td>
				<span class="db-type label-default">{{ db_type }}</span>
			</td>
		</tr>
	</table>
</div>
